{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Object Detection in Real-time Drone Surveillance</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  -->
 <!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"> -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="{%static 'css/a.css'%}">
<link rel="stylesheet" href="{%static 'css/b.css' %}">
<link rel="stylesheet" href="{% static 'css/c.css'%}">
<link rel="stylesheet" href="{% static 'css/d.css'%}">

<style>
body{
background-image: url("{% static 'image/slider.jpg'%}");
    }

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 230px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
.w3-top
{
    text-align: center;
    text-transform: uppercase;
}
#a
{
    text-transform: uppercase
}
</style>
</head>
<body class="w3-opacity-min" >

<!-- Navbar -->
 <div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large"> 
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Object Detection in Real-time Drone Surveillance</a> 
</div>
</div>
  <!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <h4 class=" w3-animate-top w3-bar-item" id="a"><b>Object Tracking</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black glyphicon-user" href="{% url 'adminhome'%}" id="a"> Home</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'viewusers'%}" id="a">View Registerd User</a>
  
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'index'%}" id="a">LogOut</a>
  </nav>
 
{% block contents%}
{% endblock %}
</body>
</html>